body {
    font-family: Arial;
    width: 500px;
    margin: auto;
    text-align: center;
}

input {
    width: 70%;
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

#answer {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}